/*Label is In line, Input and Button are In line Block*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    font-family: Candara;
    background-image: url(assets/background.png);
    background-size: auto;
}

.title {
    color: #0081BC;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    text-shadow: 2px 0px 25px #00eefb;
}

.subtitle {
    font-size: 20px;
    text-shadow: 2px 0px 25px #00eefb;
    margin: 10px;
}

/* Pet Section */

#select_pet, #messages, .info_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet_cards {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pet_card {
    text-align: center;
    font-weight: 700;
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pet_card p {
    width: 70px;
}

.pet_card img {
    height: 90px;
}

.pet_card:hover, input:checked+label {
    background: #39fdbc;
    cursor: pointer;
}

input {
    display: none;
}

#btn_select_pet {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background:  #9E00BC;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 5px solid white;
    user-select: none;
}
 
#btn_select_pet:hover {
    background:  #7e0197;
    cursor: pointer;
}

/* Map Section */

#canvas {
    border: 3px solid white;
    background-image: url(assets/Mokemap.png);
}

#map_utils {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

#move_buttons {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
}

.move_btn {
    font-size: 50px;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    border-style: none;
    background-color: rgba(0, 129, 188, 0);
    user-select: none;
}

.move_btn:hover, .move_btn:active {
    background-color: rgba(0, 129, 188, 0.3)
}

#ArrowUp {
    grid-column: 2;
    grid-row: 1;
}

#ArrowRight {
    grid-column: 3;
    grid-row: 2;
}

#ArrowDown {
    grid-column: 2;
    grid-row: 3;
}

#ArrowLeft {
    grid-column: 1;
    grid-row: 2;
}

/* Attack Section */

#select_attack, #show_map {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attack_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.btn_attack {
    font-family: Candara;
    font-weight: 700;
    font-size: 16px;
    width: 110px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid white;
    user-select: none;
}

[name='Fire']{
    background: #fdc36c;
}

[name='Fire']:hover {
    background: #f8af41;
    cursor: pointer;
}

[name='Water'] {
    background: #86dad8;
}

[name='Water']:hover {
    background: #4fd7d5;
    cursor: pointer;
}

[name='Soil'] {
    background: #b5e3a2;
}

[name='Soil']:hover {
    background: #88dd67;
    cursor: pointer;
}

#messages {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    background: radial-gradient(circle, #7fffd4 0%, #39fdbc 100%);
    padding: 7px;
    box-sizing: border-box;
    margin: 10px;
}

#messages p {
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

#btn_restart {
    font-family: Candara;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: #39fdbc;
    border: 3px solid white;
    cursor: pointer;
    user-select: none;
}

#info_cards {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 25px;
}

.info_card {
    padding: 10px;
    box-sizing: border-box;
    margin: 8px 0px 8px 0px;
    border-radius: 20px;
    background: rgba(0, 238, 251, 0.3);
}

#p_player_lives, #p_enemy_lives {
    color: #013c57;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;
    text-shadow: 0px 0px 30px #013b54;
    margin: 20px
}

#player_logo, #enemy_logo {
    height: 50px;
}

#history_player, #history_enemy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: auto;
}

@media (max-width: 810px) {
    #pet_cards {
        width: 450px;
    }
    #map_utils {
        flex-direction: column;
        gap: 0px;
    }
    #attack_buttons .subtitle {
        grid-column: 1;
        grid-row: 2;
    }
    #btn_fire {
        grid-column: 2;
        grid-row: 1;
    }
    #btn_water {
        grid-column: 2;
        grid-row: 2;
    }
    #btn_soil {
        grid-column: 2;
        grid-row: 3;
    }
    #attack_buttons {
        display: grid;
        grid-template-columns: 180px 110px;
        grid-template-rows: auto auto auto;
        place-items: center;
    }
}

@media (max-width: 550px) {
    #pet_cards {
        flex-direction: column;
        gap: 0px;
    }
}